<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Bogosort Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
	integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>

<script type="text/javascript">
	sendSort = function() {

		alert(document.getElementById("elements").value);

		var sortValue = document.getElementById("elements").value;

		$.ajax({
			url : "/addSort",
			type : "POST",
			data : "[" + sortValue + "]",
			dataType : "application/json",
			success : function(result) {
				alert(result);
				location.reload();
			},
			error : function(xhr, ajaxOptions, thrownError) {
				alert(thrownError);
			}
		});
	};
</script>
</head>
<body>


	<div class="container">
		<h2>BogoSort (Enter Comma-Separated Numbers)</h2>
		<div id="resultDivContainer"></div>
		<form action="/home" th:attr="action=@{/addSort2}" method="post">
			<fieldset>

				<table class="table table-inverse">
					<tr>
						<th><input class="form-control" type="text" name="elements"	size="100" value="9, 3, 5, 7" /></th>
						<th><input class="btn btn-primary" type="submit" value="Sort" /></th>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>


	<div class="container">
		<div th:if="${not #lists.isEmpty(elements)}">
			<h2>BogoSort Results</h2>
			<table class="table table-inverse">
				<thead>
					<tr>
						<th>Id</th>
						<th>Unsorted ELements</th>
						<th>Sorted Elements</th>
						<th>Total Shuffles</th>
						<th>Duration (MS)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bogoSort : ${elements}">
						<td th:text="${bogoSort.sortId}"></td>
						<td th:text="${bogoSort.elements}"></td>
						<td th:text="${bogoSort.sortedElements}"></td>
						<td th:text="${bogoSort.totalShuffles}"></td>
						<td th:text="${bogoSort.duration}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>